* {
    box-sizing:  border-box;
}

#editor {
    position: relative;
    min-height: 400px;
    max-height: 100%;
}

#gameFrame {
    position: fixed;
    min-height: 256px;
    height: 100%;
    width: 100%;
}

.logo {
    height: 48px;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.navTab {
    height: 48px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.runButton {
    height: 34px;
    margin-top: 8px;
    margin-bottom: 4px;
    padding-right: 8px;
    text-align: center;
}
