* {
    box-sizing:  border-box;
}

#editor {
    position: relative;
    min-height: 640px;
    height: 100%;
}

#gameFrame {
    position: fixed;
    min-height: 256px;
    height: 100%;
    width: 100%;
}
